.LoginTxtBox {
    border-radius: 15px;
    border: 1px solid #83D475;
    padding: 20px;
    width: 300px;
    height: 15px;
    color: black;
}

.buttonForgotPassword {
    background-color: transparent;
    /*background-image: linear-gradient(#ff00de75, #c800ffc9);*/
    color: grey;
    border: 1px none purple;
    border-radius: 25px;
    width: 100%;
    padding: 2px;
    font-size: 14px;
    text-align: center;
    font-weight: normal;
    font-family: Century Gothic;
}

.buttonLogin {
    background-color: #fac;
    background-image: linear-gradient(#74f2ce, #83D475);
    color: white;
    border: 2px none #fac;
    border-radius: 25px;
    width: 80%;
    padding: 16px;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
}

.buttonRegisterNow {
    background-color: transparent;
    /*background-image: linear-gradient(#ff00de75, #c800ffc9);*/
    color: #83D475;
    border: 1px none purple;
    border-radius: 25px;
    width: 80%;
    padding: 14px;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
}

.buttonSendEmailForgotPassword {
    background-color: #fac;
    background-image: linear-gradient(#74f2ce, #83D475);
    color: white;
    border: 2px none #fac;
    border-radius: 25px;
    width: 100%;
    padding: 13px;
    font-size: 14px;
    text-align: center;
}
