.ayohaTextMuted{ color:var(--text-500); }
.ayohaTextStrong{ color:var(--text-900); font-weight:800; }

.ayohaSectionTitle{
  font-weight:900;
  font-size:14px;
  letter-spacing:.2px;
  color:var(--text-900);
}
.ayohaSectionSub{
  margin-top:2px;
  font-size:12px;
  color:var(--text-500);
}
.ayohaNotifWrap{
  position:relative;
  width:30px;
  height:30px;
  overflow:visible;
}

.ayohaNotifIcon{
  width:22px;
  height:22px;
  display:block;
  position:absolute;
  left:50%;
  top:50%;
  transform:translate(-50%,-50%);
}

.ayohaNotifBadge{
   position:absolute;
 top:-4px;
left:-4px;         /* ✅ pindah kiri */
  right:auto;        /* ✅ pastikan right tak kacau */
  min-width:18px;
  height:18px;
  padding:0 5px;
  border-radius:999px;
  background:#ff2d55;
  color:#fff;
  font-size:11px;
  font-weight:800;
  line-height:18px;
  text-align:center;
  z-index:9999;
  box-shadow:0 4px 10px rgba(0,0,0,.25);
}


      /* Recent Check-Ins */
.rcTitle{
  font:900 18px/1.1 system-ui,-apple-system,Segoe UI,Roboto,Arial,sans-serif;
  color:#111827;
  padding:8px 12px 6px;
}

/* make dataview inner in one row */
.ayohaRecentDV .x-dataview-inner{
  white-space:nowrap;
  padding:8px 10px 14px;
}
.ayohaRecentItem{
  display:inline-block;
  vertical-align:top;
  margin-right:12px;
}

/* card */
.rcCard{
  width:140px;
  height:145px;
  border-radius:18px;
  background:#fff;
  /* box-shadow:0 10px 22px rgba(17,24,39,.12); */
  border:1px solid rgba(17,24,39,.06);
  position:relative;
  padding:10px 10px 12px;
}

/* badge */
.rcBadge{
  position:absolute;
  top:8px;
  right:8px;
  padding:4px 8px;
  border-radius:999px;
  background:linear-gradient(180deg,#ffd27a,#ffb74a);
  color:#3b1d00;
  font:900 11px/1 system-ui,-apple-system,Segoe UI,Roboto,Arial,sans-serif;
  box-shadow:0 6px 14px rgba(255,183,74,.35);
}

/* logo */
.rcLogoWrap{
  width:76px;
  height:76px;
  border-radius:16px;
  background:rgba(124,58,237,.06);
  display:flex;
  align-items:center;
  justify-content:center;
  margin:8px auto 10px;
  overflow:hidden;
}
.rcLogo{
  width:58px;
  height:58px;
  object-fit:contain;
  display:block;
}

/* text */
.rcName{
  font:900 13px/1.15 system-ui,-apple-system,Segoe UI,Roboto,Arial,sans-serif;
  color:#111827;
  text-align:center;
  display:-webkit-box;
  -webkit-line-clamp:2;
  -webkit-box-orient:vertical;
  overflow:hidden;
  min-height:32px;
}
.rcTime{
  margin-top:-12px;
  font:700 10px/1 system-ui,-apple-system,Segoe UI,Roboto,Arial,sans-serif;
  color:rgba(17,24,39,.55);
  text-align:center;
}